<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>
</head>
<body>
    <h1>Product</h1>
    <a href="/products?limit=<%= limit=10%>&page=<%=page%>">Show 10 items per page</a>
    <a href="/products?limit=<%= limit=20%>&page=<%=page%>">Show 20 items per page</a>

<ul>
    <% pageinatedProducts.forEach(product => {%>
        <li>
            <h2><%= product.name %></h2>
            <p>Price: $<%= product.price %></p>
            <p><%= product.description %></p>
        </li>
    <%}) %>
</ul>

    <a href="/products?limit=<%= limit%>&page=<%=page - 1%>">Previous</a>
    <a href="/products?limit=<%= limit%>&page=<%=page + 1%>">Next</a>
</body>
</html>